.Dropdown{
	width:130px;
	font-size:0.95rem;
	font-family: 'Josefin Sans',sans-serif;
	cursor:pointer;
	z-index:100;
}
.Dropdown button{
	font-family: inherit;
	font-size: inherit;
	width:100%;
	//letter-spacing: 0.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Dropdown:hover .dropdown-content{
	display:block;
}
.dropdown-content{
	box-sizing: border-box;
	width:130px;
	color:#990033;
	font-weight:700;
	margin:0;
	display: none;
	position: absolute;
	border:2px #990033 solid;
	background-color: white;
}
.dropdown-content li{
	padding:0.1rem;
	border:1px #990033 solid;
}